* {
    box-sizing: border-box;
}

ul {
    list-style:none;
}

.HeaderMenu{
    margin:0 auto;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

.HeaderMenu h1{
    font-family: 'Playfair Display', serif;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    /* margin: 20px 10px 20px 50px; */
    width: 50%;
    height: 0px;
}

.HeaderMenu a:hover{
    color: red;
}

.HeaderMenu ul {
    display: flex;
    justify-content: end;
    width: 50%;
    align-items: center;
    text-align: center;
}

.HeaderMenu li{
    text-decoration: none;
    color:#000000;
    /* margin-left:4em; */
    /* margin: 30px 10px 20px 50px; */
    width: 20%;
    
}

.HeaderMenu li :hover{
   color: red;
}

.HeaderMenu a{
    height: 0px;
    text-decoration: none;
    color:#000000;
    font-weight: bolder;
}

.HeaderStart{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    /* padding: 10px 50px 20px; */
    width: 1263px;
    /* width: 100%; */
    height: 50px;
}
