ul {
    list-style:none;
}
div {
    padding: 0 30px;
}

.Menu{
    margin:0 auto;
    letter-spacing: 0.5em;
    font-family: 'Playfair Display', serif;
}

.HeaderStart{
    background-color: white;
    font-family: 'Playfair Display', serif;
}

.header_flex {
    display: flex;
    height:60px;
    align-items: center;
}

.header_flex nav {
    margin-left: auto;
}

.header_flex ul {
    display: flex;
}

.header_flex ul li {
    margin-left: 20px;
}