body{
  background-image: url(../img/ques_page_background.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1500px;
}

h2{
  margin-bottom: 30px;
}

.contents{
  font-family: "sans-serif","メイリオ";
  width: 900px;
  background-color: rgba(253, 251, 251, 0.934);
}

.contents_elemnt{
  margin-top: 3px;
}

#err_message{
  font-size: small;
  color: red;
  font-weight: bold;
}

#next_button{
  margin-top: 30px;
}

#button_text{
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#sentence{
  margin-top: 80px;
}

#sentence p{
  font-size: medium;
  color: red;
}

#sentence #next_message{
  color: black;
}

#rogin_button input{
  margin-top: 30px;
  width: 5em;

}

#input_element{
  margin-top: 1.5em;
  width: 18em;
  height: 1.5em;
}