h2{
  margin-bottom: 10px;
}

.contents{
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 1.5em;
  background-color: white;
  height: 300px;
}

.contents_elemnt{
  margin-top: 3px;
}

#rogin_button input{
  margin-top: 30px;
  width: 5em;

}

#input_element{
  margin-top: 1.5em;
  width: 18em;
  height: 1.5em;
}