.contents {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 1.5em;
  background-color: white;
  height: 400px;
}

.ranking_list{
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.box11{
  width: 1200px;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
  margin: 0;
  padding: 0;
}