.tops{
    background: red;
}
.top{
    text-align:center;
}
.ranking{
    text-align: right;
    font-size: 20px;
}
button{
    text-align: center;
}
.text{
    text-align: center;
}
.tab_contents{
    
}
#tab1:checked~.panels #area1 {
	display: block;
	background: #e05551;
}

#tab2:checked~.panels #area2 {
	display: block;
	background: #dcdc3d;
}

#tab3:checked~.panels #area3 {
	display: block;
	background: #639aa4;
}